export GOOGLE_CLOUD_PROJECT=conthunt-dev
export GOOGLE_APPLICATION_CREDENTIALS="$HOME/.config/gcloud/adc-conthunt-dev.json"
export CLOUDSDK_CORE_PROJECT=conthunt-dev
export CLOUDSDK_RUN_REGION=us-central1
export CLOUD_PROJECT=conthunt-dev
export GOOGLE_CLOUD_QUOTA_PROJECT=conthunt-dev